# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# Database files
*.sqlite3
*.db

# Mac system files
.DS_Store

# Docker
*.pid

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Unit test / test output
test-results/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Misc
*.bak
*.swp